version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: unihack
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

  backend:
    build:
      context: ./unihack-backend/unihack
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/unihack
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    restart: always

  desafio-sqli:
    build:
      context: ./desafios/sqli
      dockerfile: Dockerfile
    ports:
      - "3001:80"
    depends_on:
      - sqli-db

  sqli-db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./desafios/sqli/db:/docker-entrypoint-initdb.d

volumes:
  db-data:
